@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300;500&display=swap');
*{
  font-family: 'Antonio', sans-serif;
  color: white;
}
:root{
  --bg-color: #070724;
  --header-main: 80px;
  --stats-measured: 40px;
  --navigation-text: 11px;
  --information-text: 14px;
  --meek-border: 1px solid #ffffff2f;
}
body, html{
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-image: url("/assets/background-stars.svg");
  background-size: contain 110% 110%;
  animation: float 15s linear infinite;
}
@keyframes float {
	0% {
		background-position: 0% 0%; 
	}
  25% {
		background-position: 5% -5%;
	}
	50% {
		background-position: 0% -10%;
	}
  75% {
		background-position: -5% -5%;
	}
  100% {
		background-position: 0% 0%;
	}

}

.error-wrapper{
  margin:auto;
  display: flex;
  flex-direction: column;
}
.error-wrapper>img{
  width: 100%;
  height: auto;
}
.error-btn{
  background-color: rgb(135, 36, 165);
  width: 100%;
  height: auto;
  padding-block: 30px;
  border: var(--information-text);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.nav-btn-container{
  display: flex;
  border-top: 4px solid;
  margin-inline: 16.5px;
  height: 79px;
}
.nav-btn-container:hover{
  border-top: 4px solid;
  
}
.navigation-btn{
  border: none;
  background-color: transparent;
  text-decoration: none !important;
  font-size: var(--navigation-text);
  opacity: 0.75;
  letter-spacing: 1px;
}
.navigation-btn:hover{
  opacity: 1;
}
.top-text-btns{
  display: none;
}
.landing-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 126px;
}
.landing-text-container{
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-inline: 12.5%;
}
.status-btn-wrapper:nth-child(2){
  margin-block: 16px;
}
.image-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 35%;
  max-height: 350px;
}
.status-btn{
  border: var(--meek-border);
  width: 350px;
  height: 48px;
  text-align: start;
  transition: 0.5s;
}
.button-numerator-text{
  opacity: 0.5;
  margin-inline: 28px;
}
.nav-ball{
  display: none;
}
.overlay-transparent-image{
  transform: translate(50%);
}
.planet-image{
  transform: translate(-50%);
}
.structure-underlay-image{
  position: relative;
  transform: translate(-50%);
  opacity: 0;
  z-index: 2;
  animation: myAnim 1s ease-out;
}
@keyframes myAnim {
  from { opacity: 1; }
  to { opacity: 0; }
}
.structure-overlay-image{
  transform: translate(50%);
  z-index: 0;
}

.geology-overley{
  position: absolute;
  width: 163px;
  height: auto;
  transform: translateY(75%) ;
  z-index: 3;
} 
.footer-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-inline: 5%;
  box-sizing: border-box;
  margin-top: 87px;
}
.footer-wrapper{
  margin-block: 25px;
  width: 255px;
  display: flex;
  flex-direction: column;
  border: var(--meek-border);
  padding-inline: 23px;
  padding-block: 20px;
  box-sizing: border-box;
}
.planet-name-header{
  font-size: var(--header-main);
}
.planet-text{
  font-size: var(--information-text);
  line-height: 25px;
  font-weight: 300;
  min-height: 150px;
}
.footer-heading{
  font-size: var(--navigation-text);
  opacity: 0.5;
}
.footer-stat{
  font-size: var(--stats-measured);
}
.source-text{
  font-size: var(--information-text);
  line-height: 25px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.507);
}
.source-anchor{
  margin-left: 10px;
  color: white;
  opacity: 1 !important;
}
.animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}

@-webkit-keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-400px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(-400px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 

@-webkit-keyframes fadeInLeftGeo { 
  0% { 
      opacity: 0; 
      -webkit-transform: translateY(45%); 
  } 
  100% { 
      opacity: 1; 
      -webkit-transform: translateY(75%); 
  } 
} 
@keyframes fadeInLeftGeo { 
  0% { 
      opacity: 0; 
      transform:  translateY(45%); 
  } 
  100% { 
      opacity: 1; 
      transform:  translateY(75%); 
  } 
} 
.fadeInLeft { 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft; 
}
.fadeInLeftGeo { 
  -webkit-animation-name: fadeInLeftGeo; 
  animation-name: fadeInLeftGeo; 
}

@media only screen and (max-width: 1090px) {
  .structure-overlay-image, .overlay-transparent-image{
    transform: scale(0.6) translate(83.3%);
  }
  .planet-image, .structure-underlay-image{
    transform: scale(0.6) translate(-83.3%);
  }
  .geology-overley{
    transform: scale(0.6) translateY(75%);
  }

@-webkit-keyframes fadeInLeftGeo { 
  0% { 
      opacity: 0; 
      -webkit-transform:  translateY(45%) scale(0.6); 
  } 
  100% { 
      opacity: 1; 
      -webkit-transform:  translateY(75%) scale(0.6); 
  } 
} 
@keyframes fadeInLeftGeo { 
  0% { 
      opacity: 0; 
      transform:  translateY(45%) scale(0.6); 
  } 
  100% { 
      opacity: 1; 
      transform:  translateY(75%) scale(0.6); 
  } 
} 
}
@media only screen and (max-width: 920px) {
  :root{
    --bg-color: #070724;
    --header-main: 62px;
    --stats-measured: 24px;
    --navigation-text: 11px;
    --information-text: 11px;
    --meek-border: 1px solid #ffffff2f;
  }
  .landing-container{
    flex-direction: column;
    align-items: center;
  }
  .landing-text-container{
    padding-inline: 39px;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    flex-direction: row;
    align-items: center;
    max-width: none;
    width: 100%;
    box-sizing: border-box;
  }
  .landing-text{
    max-width: 339px;
  }
  .status-btn{
    width: 281px;
    height: 40px;
  }
  .nav-btn-container{
    margin-inline: 10px;
  }
  .image-wrapper{
    max-height: 200px;
  }
  .footer-container{
    padding-inline: 39px;
  }
  .footer-wrapper{
    width: 164px;
  }
}
@media only screen and (max-width: 575px) {
  :root{
    --bg-color: #070724;
    --header-main: 52px;
    --stats-measured: 24px;
    --navigation-text: 11px;
    --information-text: 11px;
    --meek-border: 1px solid #ffffff2f;
  }
  .nav-btn-container{
    align-items: center;
    border-bottom: var(--meek-border) !important;
  }
  .button-numerator-text{
    display: none;
  }
  .status-btn{
    width: auto;
    border: none;
    background-color: transparent !important;
  }
  .status-btn-wrapper{
    border-bottom: 4px solid;
  }
  .status-btn-wrapper:nth-child(2){
    margin-block: 0px;
  }
  .text-btns{
    display: none;
  }
  .top-text-btns{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .planet-text{
    min-height: 110px;
  }
  .landing-text-container{
    text-align: center;
    margin-top: 120px;
    margin-inline: 0;
    padding-inline: 0;
    max-width: 327px;
  }
  .footer-container{
    flex-direction: column;
  }
  .footer-wrapper{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-block: 4px;
  }
  .nav-btn{
    display: flex;
  }
  .nav-ball{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}
